  <div class="vertical-menu">
    <LinkTo @route="index" >{{t "Home"}}</LinkTo>
    <LinkTo @route="country-layer-page">{{t "Country.Layer"}}</LinkTo>
    <LinkTo @route="city-layer-page">{{t "City.Layer"}}</LinkTo>
  
   <label><input type="checkbox" id="points" {{on 'click' @onPChecked }} />     {{t "Mark.As.Point"}}</label>
   <label><input type="checkbox" id="images" {{on "click" @onIChecked }} />     {{t "Mark As.Image"}}</label>
  
</div> 