 <div class="vertical-menu">
  <LinkTo @route="index" >{{t "Home"}}</LinkTo>
  <LinkTo @route="country-layer-page">{{t "Country.Layer"}}</LinkTo>
  <LinkTo @route="city-layer-page">{{t "City.Layer"}}</LinkTo>
  <a href="#">{{t "Street.Layer"}}</a>
  
  <input type="checkbox" id="points" class="input-menu"/>
  <label for="points">{{t "Mark.As.Point"}}</label><br>
  <input type="checkbox" id="images" class="input-menu"/>
  <label for="images"> {{t "Mark As.Image"}}</label><br>
  
</div> 