<HorizentalNavbar />

<main class="container-fluid" style="height: 100%;">

   <div class="row" style="padding-top: 20px; height: 80%;">
        <div class="col-md-4">
            <div class="row" style="height: 50%;">
                {{this.marker.features.length}}
                <Navbar @onPChecked={{action 'checkPointBox'}} @onIChecked={{action 'checkImageBox' }} />
            </div>
            <div class="row" style="margin-top: 12px; height: 50%;">
                <div style="margin-left: 10px;">
                    {{ember-youtube ytid="ukzyBxQ9Zsc" volume=60 width=350}}
                </div>
            </div>
        </div>

        <div class="col-md-1">

        </div>

        <div class="col-md-7" >
            <div class="row" style="margin-top: 12px; height: 60%; margin-right: 5%;" id="mapElement">
                <Map @onMapClick={{action 'mapClicked'}} @markers={{this.marker}} @validatePointCheckBox={{this.pointChecked}}
                     @validateImageCheckBox={{this.imageChecked}} @mapClickedToAddMarker={{this.mapClickedToAddMarker}}/>  
            </div>
        </div> 
    </div> 

    <div class="row" style="height: 20%; margin-top: 3%;" id="bottomMenu">
        <div class="col-md-12"><Details /></div>
    </div>
</main>

